body {
	background-image: url(../images/seigaiha.png);
}

/* Site Navigation */
.site-nav {

}

.site-nav ul{
	margin: 0;
	padding: 0;
}

.site-nav li {
	list-style: none;
	float: right;
}

.site-nav a {
	text-decoration: none;
	padding: 10px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.site-nav a:hover {
	color: #dddddd; 
}

.portfolio-picture {
	max-width: 100%;
	height: auto;
	border-color: #dddddd;
}
/* End Site Navigation */

.container{
	max-width: 960;
	height: auto;
	
}

.main-area{
	max-width: 650px;
	background-color: #ffffff;
	border-color: #dddddd;
	border-spacing: 115px;
}

.sidebar{
	max-width: 270px;
	color: #4aaaa5;
	background-color: #ffffff;
	border-color: #dddddd;
}


header{
	background-color: #ffffff;
	border-color: #cccccc;
	padding-top: 20px;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
	color: #FFFFFF;
}

h2, h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

footer{
	background-color: #666666;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
}


